.tile-image {
  width: 200px;
  height: auto;
}

.card-bold {
  font-weight: 700;
  color: #333;
}

.card-bottom {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.breed-image {
  height: 15rem;
  object-fit: fill;
  width: 100%;
  cursor: pointer;
}

.card-description {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.card-alt {
  color: #e2425f;
  margin-bottom: 1rem;
}

.card-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bottom-margin {
  margin-bottom: 2rem;
}

particle {
  border-radius: 50%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  opacity: 0;
}
