.logo-image {
  height: auto;
  max-height: 15rem;
  width: 80%;
  max-width: 15rem;
  padding: 0.5rem;
  margin: 1rem;
  background: #3f3d56;
  border-radius: 34px;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catinder-logo {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  text-shadow: 4px 4px 0px #3f3d56;
}

.catinder-navi {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-shadow: 4px 4px 0px #3f3d56;
  display: flex;
  justify-content: center;
  align-items: center;
}
