.footer-image {
  width: 3rem;
  height: 3rem;
}

.footer-wrapper {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.footer-subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
  color: #28263e;
}

.footer-link {
  cursor: pointer;
  text-decoration: none;
}

.logo-github {
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  margin: 0.5rem;
  margin-bottom: 1rem;
  background: #3f3d56;
  border-radius: 34px;
  cursor: pointer;
}
